bin
build
composer.phar
composer.lock
phpunit.xml
vendor
.idea
.env
.phpcs.xml
phpcs.xml
.phpunit.result.cache
.DS_Store
phpinsights.php
phpstan.neon.dist
phpunit.xml.dist
psalm.xml.dist
rector.php
phpdoc.phar
.phpdoc
phpdoc.dist.xml
