.github/               export-ignore
docs/                  export-ignore
examples/              export-ignore
tests/                 export-ignore
vendor/                export-ignore
.editorconfig           export-ignore
.gitattributes         export-ignore
.gitignore             export-ignore
.php-cs-fixer.dist.php  export-ignore
.semgrepignore         export-ignore
.shiprc                export-ignore
CHANGELOG.ARCHIVE.md   export-ignore
CHANGELOG.md           export-ignore
EXAMPLES.md            export-ignore
FAQ.md                 export-ignore
opslevel.yml           export-ignore
phpdoc.dist.xml        export-ignore
phpstan.neon.dist      export-ignore
phpunit.xml.dist       export-ignore
psalm.xml.dist         export-ignore
rector.php             export-ignore
UPGRADE.md             export-ignore
