.editorconfig         export-ignore
.gitattributes        export-ignore
.github/              export-ignore
.gitignore            export-ignore
.semgrepignore        export-ignore
.shiprc               export-ignore
CHANGELOG.md          export-ignore
docs/                 export-ignore
EXAMPLES.md           export-ignore
examples/             export-ignore
opslevel.yml          export-ignore
phpdoc.dist.xml       export-ignore
phpstan.neon.dist     export-ignore
phpunit.xml.dist      export-ignore
psalm.xml.dist        export-ignore
rector.php            export-ignore
tests/                export-ignore
UPGRADE.md            export-ignore
vendor/               export-ignore
