<?xml version="1.0"?>
<ruleset name="Auth0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <description>Auth0 PHP coding standard</description>

    <file>src</file>
    <file>tests</file>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="75"/>
    <arg value="np"/>

    <config name="testVersion" value="7.4-" />

    <rule ref="PSR2">
        <exclude name="PSR2.Methods.FunctionCallSignature.Indent"/>
    </rule>

    <rule ref="PSR12">
    </rule>

    <rule ref="PEAR">
        <rule ref="PEAR.Functions.FunctionCallSignature">
            <properties>
                <property name="allowMultipleArguments" value="false"/>
            </properties>
        </rule>

        <exclude name="PEAR.NamingConventions.ValidFunctionName"/>
        <exclude name="PEAR.NamingConventions.ValidVariableName"/>
        <exclude name="PEAR.Commenting.ClassComment"/>
        <exclude name="PEAR.Commenting.FileComment.Missing"/>
        <exclude name="PEAR.Commenting.FileComment.MissingAuthorTag"/>
        <exclude name="PEAR.Commenting.FileComment.MissingCategoryTag"/>
        <exclude name="PEAR.Commenting.FileComment.MissingPackageTag"/>
        <exclude name="PEAR.Commenting.FileComment.MissingLicenseTag"/>
        <exclude name="PEAR.Commenting.FileComment.MissingLinkTag"/>
        <exclude name="PEAR.Commenting.FileComment.MissingVersion"/>
        <exclude name="PEAR.Commenting.InlineComment"/>
        <exclude name="PEAR.WhiteSpace.ScopeIndent.IncorrectExact"/>
    </rule>

    <rule ref="Internal.Tokenizer.Exception">
        <type>error</type>
    </rule>

    <rule ref="Generic.Arrays.ArrayIndent"/>
    <rule ref="Generic.Formatting.MultipleStatementAlignment">
        <properties>
            <property name="maxPadding" value="12"/>
            <property name="error" value="true"/>
        </properties>
    </rule>

    <exclude name="Generic.Files.LineLength"/>
    <exclude name="Generic.Files.LowercasedFilename"/>
    <exclude name="Generic.PHP.ClosingPHPTag.NotFound"/>
    <exclude name="Generic.ControlStructures.DisallowYodaConditions.Found"/>
</ruleset>
