{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "perMutator": "infection.mutators.md",
        "badge": {
            "branch": "main"
        }
    },
    "mutators": {
        "@default": true
    },
    "testFramework": "pest"
}
