parameters:
	ignoreErrors:
		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/API/Authentication.php

		-
			message: '#^PHPDoc tag @var with type array\<bool\|int\|string\> is not subtype of type array\<int\|string\|null\>\|null\.$#'
			identifier: varTag.type
			count: 1
			path: src/API/Authentication.php

		-
			message: '#^PHPDoc tag @var with type array\<mixed\> is not subtype of type array\{authParams\: null\}\|array\{authParams\: stdClass\}\.$#'
			identifier: varTag.type
			count: 1
			path: src/API/Authentication.php

		-
			message: '#^Parameter \#1 \$headers of method Auth0\\SDK\\Utility\\HttpRequest\:\:withHeaders\(\) expects array\<string, int\|string\>, array\<int\|string\> given\.$#'
			identifier: argument.type
			count: 4
			path: src/API/Authentication.php

		-
			message: '#^Parameter \#1 \$headers of method Auth0\\SDK\\Utility\\HttpRequest\:\:withHeaders\(\) expects array\<string, int\|string\>, array\<int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/API/Authentication/PushedAuthorizationRequest.php

		-
			message: '#^Method Auth0\\SDK\\Auth0\:\:getRequestParameter\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 2
			path: src/Auth0.php

		-
			message: '#^PHPDoc tag @var with type array\<int\|string\|null\>\|null is not subtype of native type array\.$#'
			identifier: varTag.nativeType
			count: 2
			path: src/Auth0.php

		-
			message: '#^Parameter \#1 \$parameters of method Auth0\\SDK\\API\\Authentication\\PushedAuthorizationRequest\:\:create\(\) expects array\<string, int\|string\|null\>\|null, array\<int\|string\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Auth0.php

		-
			message: '#^Parameter \#1 \$token of class Auth0\\SDK\\API\\Management constructor expects string, Auth0\\SDK\\Configuration\\SdkConfiguration given\.$#'
			identifier: argument.type
			count: 1
			path: src/Auth0.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: src/Configuration/SdkConfiguration.php

		-
			message: '#^Casting to string something that''s already \(string\)\.$#'
			identifier: cast.useless
			count: 1
			path: src/Configuration/SdkConfiguration.php

		-
			message: '#^Parameter \#1 \$string of function trim expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/SdkConfiguration.php

		-
			message: '#^Casting to string something that''s already \(string\)\.$#'
			identifier: cast.useless
			count: 1
			path: src/Configuration/SdkState.php

		-
			message: '#^Binary operation "\.\=" between string and mixed results in an error\.$#'
			identifier: assignOp.invalid
			count: 1
			path: src/Store/CookieStore.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Store/CookieStore.php

		-
			message: '#^Parameter \#1 \$options of function session_set_cookie_params expects array\{lifetime\?\: int, path\?\: string\|null, domain\?\: string\|null, secure\?\: bool\|null, httponly\?\: bool\|null, samesite\?\: ''Lax''\|''lax''\|''None''\|''none''\|''Strict''\|''strict''\}, array\{lifetime\: int, domain\: string\|null, path\: string, secure\: bool, httponly\: true, samesite\: string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Store/SessionStore.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Token.php

		-
			message: '#^Method Auth0\\SDK\\Token\:\:__construct\(\) has Auth0\\SDK\\Exception\\InvalidTokenException in PHPDoc @throws tag but it''s not thrown\.$#'
			identifier: throws.unusedType
			count: 1
			path: src/Token.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Token/Generator.php

		-
			message: '#^Match arm comparison between ''RS512'' and ''RS512'' is always true\.$#'
			identifier: match.alwaysTrue
			count: 1
			path: src/Token/Generator.php

		-
			message: '#^Parameter \$array of function implode expects array\<string\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Token/Generator.php

		-
			message: '#^Parameter \$data of method Auth0\\SDK\\Token\\Generator\:\:encode\(\) expects array\<mixed\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Token/Generator.php

		-
			message: '#^Method Auth0\\SDK\\Token\\Parser\:\:decodeClaims\(\) should return array\<array\<int\|string\>\|int\|string\>\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Token/Parser.php

		-
			message: '#^Method Auth0\\SDK\\Token\\Parser\:\:decodeHeaders\(\) should return array\<int\|string\>\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Token/Parser.php

		-
			message: '#^Property Auth0\\SDK\\Token\\Parser\:\:\$tokenClaims \(array\<string, array\<int\|string\>\|int\|string\>\|null\) does not accept array\<array\<int\|string\>\|int\|string\>\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Token/Parser.php

		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 1
			path: src/Token/Validator.php

		-
			message: '#^Parameter \#1 \$array of function array_intersect expects an array of values castable to string, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Token/Validator.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 2
			path: src/Token/Validator.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Token/Verifier.php

		-
			message: '#^Cannot access offset ''kid'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Token/Verifier.php

		-
			message: '#^Cannot access offset ''x5c'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Token/Verifier.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 1
			path: src/Token/Verifier.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Token/Verifier.php

		-
			message: '#^Trying to invoke mixed but it''s not a callable\.$#'
			identifier: callable.nonCallable
			count: 1
			path: src/Utility/EventDispatcher.php

		-
			message: '#^Parameter \#1 \$headers of method Auth0\\SDK\\Utility\\HttpRequest\:\:withHeaders\(\) expects array\<string, int\|string\>, array\<int\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Utility/HttpClient.php

		-
			message: '#^Property Auth0\\SDK\\Utility\\HttpClient\:\:\$mockedResponses \(array\<object\>\) does not accept array\<object\>\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Utility/HttpClient.php

		-
			message: '#^Property Auth0\\SDK\\Utility\\HttpRequest\:\:\$params \(array\<string, int\|string\|null\>\) does not accept array\<int\|string\|null\>\.$#'
			identifier: assign.propertyType
			count: 3
			path: src/Utility/HttpRequest.php

		-
			message: '#^Method Auth0\\SDK\\Utility\\HttpResponsePaginator\:\:count\(\) should return int\<0, max\> but returns int\.$#'
			identifier: return.type
			count: 1
			path: src/Utility/HttpResponsePaginator.php

		-
			message: '#^PHPDoc tag @var with type mixed is not subtype of type int\|string\|null\.$#'
			identifier: varTag.type
			count: 1
			path: src/Utility/HttpResponsePaginator.php

		-
			message: '#^Cannot access offset ''permission_name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Utility/Toolkit/Assert.php

		-
			message: '#^Cannot access offset ''resource_server_identifier'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Utility/Toolkit/Assert.php

		-
			message: '#^PHPDoc tag @var with type array\<mixed\>\|null is not subtype of type array\<mixed\>\.$#'
			identifier: varTag.type
			count: 2
			path: src/Utility/Toolkit/Filter/ArrayFilter.php
