<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="management">
      <directory suffix="Test.php">tests/API/Management</directory>
      <directory suffix="Test.php">tests/Unit/API/Management/Wrapper</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./src/Event/</directory>
      <directory suffix=".php">./src/Contract/</directory>
      <directory suffix=".php">./src/Exception/</directory>
    </exclude>
  </source>
</phpunit>
