includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/ergebnis/phpstan-rules/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    level: max
    paths:
        - src

    ignoreErrors:
        - '#Constructor in (.*) has parameter (.*) with default value.#'
        - '#Constructor in (.*) has parameter (.*) with null as default value.#'
        - '#Method (.*) has parameter (.*) with a nullable type declaration.#'
        - '#Method (.*) has parameter (.*) with null as default value.#'
        - '#Method (.*) has a nullable return type declaration.#'
        - '#Call to an undefined method Auth0\\SDK\\Configuration\\SdkConfiguration::(.*)\(\)#'
        - '#Call to an undefined method Auth0\\SDK\\Configuration\\SdkState::(.*)\(\)#'
        - '#Cannot call method(.*)\(\) on Auth0\\SDK\\Configuration\\SdkConfiguration#'
        - '#Thrown exceptions in a catch block must bundle the previous exception#'
        - '#Parameter \#3 \$(.*) of function openssl_verify expects (.*), (.*) given.#'
        - '#Method Auth0\\SDK\\Token\\Verifier::getKey\(\) never returns (.*) so it can be removed from the return typehint.#'
        - '#Return typehint of method Auth0\\SDK\\Token\\Verifier::getKey\(\) has invalid type OpenSSLAsymmetricKey.#'
        - '#\$key of function openssl_free_key expects OpenSSLAsymmetricKey, mixed given.#'
        - '#Class Auth0\\SDK\\Store\\CookieStore is neither abstract nor final.#'
        - '#In method \"(.*)\", caught "Exception" must be rethrown.#'
        - '#Language construct isset\(\) should not be used.#'
        - '#you should not use the \$_GET superglobal.#'
        - '#you should not use the \$_POST superglobal.#'
        - '#you should not use the \$_SESSION superglobal.#'
        - '#you should not use the \$_COOKIE superglobal.#'
        - '#Access to an undefined property object::\$(.*).#'
        - '#Call to function is_callable\(\) with array\((.*)\) will always evaluate to false.#'
        - '#Call to function method_exists\(\) with \$this\(Auth0\\SDK\\Configuration\\(.*)\) and (.*) will always evaluate to false.#'
        - '#Call to function method_exists\(\) with \$this\(Auth0\\SDK\\Configuration\\(.*)\) and (.*) will always evaluate to true.#'
        - '#Class "Auth0\\SDK\\Exception\\(.*)" is not allowed to extend "Exception".#'
        - '#Class "Auth0\\SDK\\API\\Management\\(.*)" is not allowed to extend "Auth0\\SDK\\API\\Management\\ManagementEndpoint".#'
        - '#Cannot call method getName\(\) on ReflectionType\|null.#'
        - '#Cannot call method createRequest\(\) on Psr\\Http\\Message\\RequestFactoryInterface\|null.#'
        - '#Parameter \#1 \$object of function method_exists expects object\|string, Psr\\Http\\Client\\ClientInterface\|null given.#'
        - '#Cannot call method sendRequest\(\) on Psr\\Http\\Client\\ClientInterface\|null.#'
        - '#class Auth0\\SDK\\Utility\\TransientStoreHandler constructor expects Auth0\\SDK\\Contract\\StoreInterface, Auth0\\SDK\\Contract\\StoreInterface\|null given.#'
        - '#Cannot call method get\(\) on Auth0\\SDK\\Contract\\StoreInterface\|null.#'
        - '#Cannot call method set\(\) on Auth0\\SDK\\Contract\\StoreInterface\|null.#'
        - '#Cannot call method delete\(\) on Auth0\\SDK\\Contract\\StoreInterface\|null.#'
        - '#Cannot call method defer\(\) on Auth0\\SDK\\Contract\\StoreInterface\|null.#'
        - '#Cannot call method purge\(\) on Auth0\\SDK\\Contract\\StoreInterface\|null.#'
        - '#Instanceof between Auth0\\SDK\\Configuration\\SdkConfiguration and Auth0\\SDK\\Configuration\\SdkConfiguration will always evaluate to true.#'
        - '#caught "Throwable" must be rethrown.#'
        - '#Class OpenSSLAsymmetricKey not found.#'
        - '#\$(.*) of function call_user_func expects callable\(\): mixed, array\(\$this\((.*) given.#'
        - '#Casting to string something that(.*) already string.#'
        - '#\$object_or_class of function method_exists expects object\|string, (.*) given.#'

    bootstrapFiles:
        - %rootDir%/../../squizlabs/php_codesniffer/autoload.php

    reportUnmatchedIgnoredErrors: false
