<?xml version="1.0"?>
<psalm
    errorLevel="1"
    resolveFromConfigFile="true"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
    </projectFiles>

    <issueHandlers>
        <InvalidStringClass errorLevel="suppress" />
        <MixedArgument errorLevel="suppress" />
        <MixedArgumentTypeCoercion errorLevel="suppress" />
        <MixedArrayAccess errorLevel="suppress" />
        <MixedAssignment errorLevel="suppress" />
        <MixedInferredReturnType errorLevel="suppress" />
        <MixedPropertyTypeCoercion errorLevel="suppress" />
        <MixedReturnStatement errorLevel="suppress" />
        <PossiblyNullArgument errorLevel="suppress" />
        <PossiblyNullPropertyAssignmentValue errorLevel="suppress" />
        <PossiblyNullReference errorLevel="suppress" />
    </issueHandlers>
</psalm>
