<!doctype html>
<html lang="en">
<head>
	<title>Auth0-PHP Example</title>
    <script src="https://cdn.auth0.com/js/lock/11.35.0/lock.min.js"></script>
    {block javascript}{/block}
</head>
<body>
    {block content}{/block}
</body>
</html>
