name: "(Common) Pull Request Title"

on:
  pull_request:
    types:
      - opened
      - edited

permissions:
  pull-requests: read

jobs:
  main:
    name: "Lint"
    runs-on: ubuntu-latest

    steps:
      - if: ${{ github.actor == 'dependabot[bot]' || github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name }}
        uses: amannn/action-semantic-pull-request@c3cd5d1ea3580753008872425915e343e351ab54 # pin@5.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
