name: "Pull Request / Modified: Unvet"

on:
  workflow_run:
    workflows:
      - "Pull Request / Modified"
    types:
      - completed

permissions:
  contents: read
  issues: write
  pull-requests: write

concurrency:
  group: "common.pull-request.modified.unvet-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  pull-request:
    name: "Details"
    uses: ./.github/workflows/common.pr-details.get.yml@main

  check:
    needs: pull-request

    name: "Run"
    runs-on: ubuntu-latest

    steps:
      - if: ${{ github.actor == 'dependabot[bot]' }}
        run: exit 0

      - if: ${{ contains(github.event.pull_request.labels.*.name, 'Vetted') }}
        run: exit 0

      - uses: actions/checkout@v3

      - uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.removeLabel({
              issue_number: '${{ needs.pull-request.outputs.number }}',
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: ["Vetted"]
            }).catch(error => core.setFailed(error.message))
