name: "Pull Request / Modified: Unvet"

on:
  workflow_run:
    workflows:
      - "Pull Request / Modified"
    types:
      - completed

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  check:
    name: "Maintainer Approval"
    runs-on: ubuntu-latest

    steps:
      # Dependabot. Success.
      - if: ${{ github.actor == 'dependabot[bot]' }}
        run: exit 0

      - if: ${{ ! contains(github.event.pull_request.labels.*.name, 'Vetted') }}
        run: exit 0

      - uses: actions/checkout@v3

      - id: get-pr-details
        uses: ./common.pr-details.get.yml

      # Doesn't have 'Vetted' label. Success.
      - uses: actions/github-script@v6
        with:
          script: |
            let number = ${{ steps.get-pr-details.outputs.number }};

            github.rest.issues.removeLabel({
              issue_number: number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: ["Vetted"]
            })
