name: "Composer Normalize"

# This workflow will run after a merge to the main branch from a pull request.

on:
  merge_group:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  normalize:
    name: "Run Tests"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: composer require --dev ergebnis/composer-normalize

      - run: composer config allow-plugins.ergebnis/composer-normalize true

      - run: composer normalize
