name: "PHPStan"

on:
  pull_request: {}
  push:
    branches:
      - main

permissions: {}

jobs:
  phpstan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - uses: shivammathur/setup-php@v2
        with:
          php-version: "8.1"

      - run: composer install --no-progress

      - run: vendor/bin/phpstan analyze --no-ansi --no-progress --debug
