name: "Composer Validate"

on:
  pull_request: {}
  push:
    branches:
      - main

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      - run: composer validate
