name: "CI"

# This workflow will run after a pull request is opened or updated, assuming the pull request is labeled with "Vetted".

on:
  workflow_run:
    workflows:
      - "Pull Request / Run Checks"
    types:
      - completed

permissions:
  contents: read
  checks: write

concurrency:
  group: "pull-request.semgrep-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  pull-request:
    name: "Details"
    uses: "${{ github.repository }}/.github/workflows/common.pr-details.save.yml@main"

  semgrep:
    needs: pull-request

    name: "Semgrep"
    runs-on: ubuntu-latest

    container:
      image: returntocorp/semgrep

    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            await github.rest.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head_sha: '${{ needs.pull-request.outputs.sha }}',
              name: "Semgrep",
              status: "in_progress"
            });

      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: semgrep ci
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

      - uses: actions/github-script@v6
        with:
          script: |
            await github.rest.checks.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              head_sha: '${{ needs.pull-request.outputs.sha }}',
              name: "Semgrep",
              status: "completed",
              conclusion: 'success'
            });
