name: "(PR) Rector"

# This workflow will run after a pull request is opened or updated, assuming the pull request is labeled with "Vetted".

on:
  workflow_run:
    workflows:
      - "(Common) Pull Request Vetted"
      - "(Common) Pull Request Unvetted"
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  rector:
    name: "Run Tests"
    runs-on: ubuntu-latest

    steps:
      # Fail if the pull request is not labeled with "Vetted" (or created by Dependabot.)
      - if: ${{ github.actor != 'dependabot[bot]' && (github.event.workflow_run.conclusion != 'success' || ! contains(github.event.pull_request.labels.*.name, 'Vetted') }}
        run: exit 1

      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - uses: shivammathur/setup-php@4bd44f22a98a19e0950cbad5f31095157cc9621b # pin@2.25.4
        with:
          php-version: ${{ env.PHP_VERSION }}
          coverage: none
          extensions: mbstring
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - run: composer install --no-progress

      - run: vendor/bin/rector process --dry-run
